TELEGRAM_API_ID=
TELEGRAM_API_HASH=
SESSION_NAME=main-account
CODE_RUNNER_IMAGE=telegram-userbot-code-runner:latest
CODE_RUNNER_CONTAINER=telegram-userbot-code-runner
# CODE_RUNNER_USER=1000:1000
CODE_RUNNER_MEMORY=1073741824
CODE_RUNNER_CPUS=1
CODE_RUNNER_TIMEOUT=600
CODE_RUNNER_EXEC_TIMEOUT=30
CODE_RUNNER_OUTPUT_LIMIT=100000
